.top_navi{
    overflow: hidden;
    display: flex;
}


.top_navi a{
    text-align: center;
    float: left;
    color: #9b450c;
    font-size:larger;
    padding: 14px 14px 14px;
    
}
/*top navigation ask: div.class ??*/
.top_navi a:hover{
    background-color:rgb(153, 149, 149);
    color: #fff;
}

.topnav a.active{
    background-color: rgb(19, 7, 7);
    
}


/*mid navigation
not working why not with text.
*/
div.scroll {
    background-color: #FEDBB7;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;    
    overflow: auto;



  }


  div.scroll a{
      align-items:center;
  }
.mouse a:hover{
    transform: sclale(1.1);
    
}
.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

}
.panel {
    padding: 0 18px;
    background-color:#fedbb7;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

 


/* main stuff*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

body, html {
  height: 110%;
  margin: 0;
  font: 75%; Verdana, sans-serif;  
  background-image: url(foto/burger1.jpeg);
  transform: translate(-50%, -50%;)
  background-size: cover;
  background-position: center;
  height: auto;
  postion: relative;
  background-repeat: no-repeat; 
}
main{}

/*footer stuff */


footer{
    margin-top: 120px;
    
}

.other_web{ 
    margin:auto;
    margin: 10px 10px 10px 10px;
    float: left;
    margin-left: 10%;

}

.under_navi{
    float: flex;
}

.fonts{
    font-family: 'Noto Serif', serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: whitesmoke;
}





/* block?*/
h1{
    font-family: 'Noto Serif', serif;
    font-size: 65px;
    margin: auto;
    width:50%;
    padding: 10px;
}
button{
    background-color: #610d0d; /* Green */
    margin-top: 50px;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0.2), 0 6px 20px 0 rgba(0,0,0.19)
}

ul{
    list-style: none;
    text-align: center;

}
li{
    margin: 10px;
    flex-grow: 1;

}
h2{
    text-align: center;


}

